h1 {
    text-align: center;
    background-color:orange;
    color: black;
    padding: 20px;
}

li {
    padding: 10px;
    color: black;
}

.links {
    background-color: yellow;
    color: black;
}